<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6 panel-info"><div class="panel-heading">{[{title}]}</div><div class="panel-body definicion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque ea error et incidunt nostrum omnis quam quos sapiente vel! Accusantium debitis eos libero magnam molestiae optio porro quibusdam quod! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, asperiores autem enim expedita molestias quam quis. Deleniti dolorem eius eligendi explicabo nam tempore voluptate. Cum cumque nisi reiciendis tenetur velit.</div></div>
        <div class="col-md-6 panel-info"><div class="panel-heading">{[{title}]}</div><div class="panel-body definicion"><img ng-src="{[{imagenDicUrl}]}"></div></div>
    </div>
    <div class="row">
        <div class="col-md-6 panel-info"><div class="panel-heading">{[{title}]}</div><div class="panel-body definicion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque ea error et incidunt nostrum omnis quam quos sapiente vel! Accusantium debitis eos libero magnam molestiae optio porro quibusdam quod!</div></div>
        <div class="col-md-6 panel-info"><div class="panel-heading">{[{title}]}</div><div class="panel-body definicion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque ea error et incidunt nostrum omnis quam quos sapiente vel! Accusantium debitis eos libero magnam molestiae optio porro quibusdam quod!</div></div>
    </div>
</div>